html{
    background-color:black;
}


h1{
   
    font-family:'Libre Barcode 128 Text', cursive;;
    font-size: 60px;
    
    color:rgb(214, 9, 9);
    position: fixed;
    width: 584px;
    height: 161px;
    left: 900px;
    top: 60px;
}
#line{
        position: fixed;
        top:0px;
        left:20px;
        max-width: 100%;
        
}

.image{
        position: fixed;
        top:0px;
        left:0px;
        height: 800px;
        max-width:100%; ;

}



#weibo{

position: absolute;
width: 100px;
height: 100px;
right: 20px;
top: 211px;
margin-right: 20%;

}

#doc{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 14px;
    top: 390px;
    margin-right: 20%;
    
}

#music{
    position: absolute;
    width: 121px;
    height: 121px;
    right: 10px;
    top: 560px;
    margin-right: 20%;
}