html{
    background-color:black;
}

h1{
   
    font-family:'Libre Barcode 128 Text', cursive;;
    font-size: 60px;
    
    color:rgb(214, 9, 9);
    position: fixed;
    width: 584px;
    height: 161px;
    left: 900px;
    top: 60px;
}
#line{
        position: fixed;
        top:0px;
        left:20px;
        
}

.image{
        position: fixed;
        top:0px;
        left:0px;
        height: 800px;

}



#weibo{
    position: fixed;
width: 100px;
height: 100px;
left: 1028px;
top: 211px;

}

#doc{
    position: fixed;
    width: 100px;
    height: 100px;
    left: 1039px;
    top: 386px;
    
}

#music{
    position: fixed;
    width: 121px;
    height: 121px;
    left: 1030px;
    top: 531px;
}